img{
	margin-right: : auto;
	margin-bottom: : auto;
	position: center;
    z-index: -1;
}

ul{
	color: grey;
	list-style-type: none;
	margin-top: 4px;
	padding: 0;
	overflow: hidden;
	background-color: lightgrey;
}
li{
	float: left;
}
li a{
	display: block;
    text-align: center;
	padding: 14px 30px;
    text-decoration: none;
}
a:link{
	text-decoration: none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: grey;
}
a:visited{
	text-decoration: none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: grey;
}
a:hover{
	color: black;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

div{
	text-align: center;
	position: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: grey;
}
.container {
    position: relative;
}
.center {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 80px;
}

h1{
	color: grey;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h2{
	color: grey;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
p{
	color: grey;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 10px;
}
